.checkout__container {
    background-color: #FFF;
    border-radius: 50px;
    width: 600px;
}

.checkout__title {
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.02em;
    width: 100px;
    margin: 30px auto;
}

.checkout__form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.checkout__input {
    border: 1px solid grey;
    margin-bottom: 15px;
    width: 400px;
}

.checkout__content {
    max-width: 400px;
    justify-content: space-between;
    padding: 14px;
    border: 1px solid grey;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #8D8D8D;
    height: 40px;
    margin-bottom: 60px;
}

.checkout__select {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #FFF;
    text-align: center;
    width: 100%;
    border: 1px solid grey;
}

.checkout__item {
    padding: 14px 0;
    border-bottom: 1px solid grey;
}

.checkout__item:last-child {
    border: none;
}

.checkout__item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.checkout__btn {
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
}