.checkout__container {
    background-color: #FFF;
    border-radius: 50px;
    width: 600px;
}

.checkout__title {
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.02em;
    width: 100px;
    margin: 30px auto;
}

.checkout__form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.checkout__form .input {
    border: 1px solid grey;
    width: 100%;
}

.checkout__form .input--error,
.checkout__form .select--error {
    border-color: red;
}


.checkout__select {
    background-color: #FFF;
    width: 100%;
    padding: 12px;
    outline: none;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

.checkout__btn {
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
    margin-top: 10px;
}


/*VALIDATION*/

.checkout__content {
    margin-bottom: 20px;
    width: 100%;
}