.input {
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    padding: 14px;
    outline: none;
    border: none;
}

.input::placeholder {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #8D8D8D;
}

.input__error {
    color: red;
    font-weight: 300;
    font-size: 9px;
    line-height: 15px;
    margin-top: 7px;
}

