.modalWindow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 200;
    top: 0;
}

.modalWindow__end {
    padding: 100px 25px;
    background-color: #FFF;
    border-radius: 40px;
    width: 700px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    color: #212121;
}