@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Regular'), url('fonts/Montserrat-Regular.ttf') format('truetype')
}

html {
    box-sizing: border-box;
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

*, *::before, *::after {
  box-sizing: inherit
}

body {
    font-family: "Montserat", sans-serif;
    font-weight: normal;
    color: #000;
    background-color: #F9F6F1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%
}

