@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Regular'), url('fonts/Montserrat-Regular.ttf') format('truetype')
}

*, *::before, *::after {
  box-sizing: inherit
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserat", sans-serif;
    font-weight: normal;
    color: #212121;
    background-color: #F9F6F1;

}

